div.instructors {
    padding: 40px 30px !important;
}

.instructor {
    background-color: #f8f8f8 !important;
    border: 1px solid #dbdbdb !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16) !important;
    padding: 20px !important;
    margin-bottom: 30px !important;
    position: relative !important;
    min-height: 300px !important;
}

.instructor .avatar {
    width: 105px !important;
    height: 105px !important;
    border-radius: 50% !important;
    margin-bottom: 20px !important;
    margin: 0 auto !important;
}

.instructor .name {
    font-family: "Montserrat", sans-serif !important;
    font-size: 1rem !important;
    font-weight: bold !important;
    text-align: center !important;
    margin-bottom: 4px !important;
}

.instructor .title {
    font-family: "Montserrat", sans-serif !important;
    font-size: 0.9rem !important;
    font-weight: 400 !important;
    line-height: 1.25 !important;
    margin-bottom: 20px !important;
}

.instructor .text {
    font-family: "Montserrat", sans-serif !important;
    width: 95% !important;
    text-align: center !important;
    font-weight: 300 !important;
    font-size: 0.9rem !important;
    line-height: 1.66 !important;
}

.instructor .link {
    position: absolute !important;
    top: 1rem !important;
    right: 1rem !important;
    font-size: 2rem !important;
    text-decoration: none !important;
}

.instructor .link:hover {
    text-decoration: none !important;
}

/* width */
.instructorBio::-webkit-scrollbar {
    width: 4px !important;
    border-radius: 4px !important;
}

/* Track */
.instructorBio::-webkit-scrollbar-track {
    background: #E9E9E9 !important;
}

/* Handle */
.instructorBio::-webkit-scrollbar-thumb {
    background: #504B5E !important;
    border-radius: 4px !important;
}

/* Handle on hover */
.instructorBio::-webkit-scrollbar-thumb:hover {
    background: #504B5E !important; 
}

.no-instructor-text {
    font-family: Satoshi, sans-serif !important;
    font-size: 16px !important;
    padding: 12px 26px !important;

}